<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>Tic-Tac-Toe</h1>
        <div class="buttons">
            <button class="btn">1</button>
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
        <p>Player 1: <%= game.players.player1%></p>
        <p>Player 2: <%= game.players.player2%></p>
</body>
</html>